<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.EICON"
        tools:targetApi="31">
        <activity
            android:name=".EmpOccu1Activity"
            android:exported="false" />
        <activity
            android:name=".EmpHome1Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity5"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".EmpHome2Activity"
            android:exported="false" />
        <activity
            android:name=".EmpCert11Activity"
            android:exported="false" />
        <activity
            android:name=".EmpCert1Activity"
            android:exported="false" />
        <activity
            android:name=".EmpCert2Activity"
            android:exported="false" />
        <activity
            android:name=".EmpCert3Activity"
            android:exported="false" />
        <activity
            android:name=".EmpCert4Activity"
            android:exported="false" />
        <activity
            android:name=".EmpTrain1Activity"
            android:exported="false" />
        <activity
            android:name=".EmpTrain2Activity"
            android:exported="false" />
        <activity
            android:name=".EmpTrain3Activity"
            android:exported="false" />
        <activity
            android:name=".EmpTrain4Activity"
            android:exported="false" />
        <activity
            android:name=".EmpTrain5Activity"
            android:exported="false" />
        <activity
            android:name=".EmpInten1Activity"
            android:exported="false" />
        <activity
            android:name=".EmpInten2Activity"
            android:exported="false" />
        <activity
            android:name=".EmpInten3Activity"
            android:exported="false" />
        <activity
            android:name=".EmpInten4Activity"
            android:exported="false" />
        <activity
            android:name=".EmpInten5Activity"
            android:exported="false" />
        <activity
            android:name=".EmpOccu2Activity"
            android:exported="false" />
        <activity
            android:name=".EmpOccu3Activity"
            android:exported="false" />
        <activity
            android:name=".EmpOccu4Activity"
            android:exported="false" />
        <activity
            android:name=".OwnSettingActivity"
            android:exported="false" />
        <activity
            android:name=".EmpSettingActivity"
            android:exported="false" />
        <activity
            android:name=".EmpSwitchMenuActivity"
            android:exported="false" />
        <activity
            android:name=".OwnHTE1Activity"
            android:exported="false" />
        <activity
            android:name=".OwnHTE11Activity"
            android:exported="false" />
        <activity
            android:name=".OwnHome1Activity"
            android:exported="false" />
        <activity
            android:name=".OwnHome2Activity"
            android:exported="false" />
        <activity
            android:name=".OwnReAp1Activity"
            android:exported="false" />
        <activity
            android:name=".OwnReAp2Activity"
            android:exported="false" />
        <activity
            android:name=".OwnReAp3Activity"
            android:exported="false" />
        <activity
            android:name=".EmpWPH1Activity"
            android:exported="false" />
        <activity
            android:name=".EmpExtra1Activity"
            android:exported="false" />
        <activity
            android:name=".OwnExtra1Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>